<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Cajasol</h1>
    <h2>Operaciones</h2>
    <ol>
      <li>
        <a href="#">
          Cuadre Diario Efectivo
        </a>

        <ul>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1V86dCdtsLkmB29rM6gZgNzyZ3o1Y0jf1JIlVhoO-NpA/edit?usp=sharing
" target="_blank">Arequipa</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1DoVRCS7bCRo_BSPDI9KZOJ0HbQIE7r1mvw93C6gbkIQ/edit?usp=sharing
" target="_blank">Puno</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/19ENfFtBHXDkjiv4s-9O7xhlnu7Fj3vbu_GysQEoaZuk/edit?usp=sharing
" target="_blank">Moquegua</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1OUOKrBxXM1Y2GJDCak9wGF0yEIk6msjqjgvTHUDjBWg/edit?usp=sharing
" target="_blank">Tacna</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1R8q14cIOjF4_GVOFmkTFK3oZ16LK0VUuT7crZlD-It4/edit?usp=sharing
" target="_blank">Tacna II (Conosur)</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1_vw0CcQE232i1MtLfBi4N9dhvQG7NRKP9lH9mreUyTo/edit?usp=sharing
" target="_blank">Juliaca</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1H_sIyVtHg0cjHeiF9EAgQ_o9oVGLdp5i0QrGAsIlMJU/edit?usp=sharing
" target="_blank">Ilo</a>
          </li>
        </ul>

      </li>
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1oh7SMj1YZRSrU629kkVhNYIiSHnhmeZoH796aALK3kY/edit?usp=sharing
" target="_blank">Consolidado de Cuadres</a>
      </li>

      <li>
        <a href="https://docs.google.com/spreadsheets/d/1BO-LPicbj_4opTBkiEV0IyLj30yT-FoZwFvh_aSs5sU/edit?usp=sharing
" target="_blank">Transferencias</a>
      </li>

      <li>
        <a href="https://docs.google.com/spreadsheets/d/1pTUJxVEcsMrIlkoJyNTer3awUXIX6v31U2VA6MYGp9M/edit?usp=sharing
" target="_blank">Retiro CDP Fijo</a>
      </li>
    </ol>

    <h2>Logística</h2>
    <ol>
      <li>
        <a href="#">
          Formatería y Merchandising
        </a>

        <ul>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1-WiBS7kuEr6aQHKux-BLuks9DA14Pd0bdpM8xD8g7QI/edit?usp=sharing" target="_blank">Arequipa</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1WG6gsFvmphdQ2wgxTEGqt6V4R-v8xpp1dQrLY0PboZg/edit?usp=sharing" target="_blank">Puno</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1Am7jrkR52xQXTWnIf3lYucFnWz2-bTunOCsutRSWRUE/edit?usp=sharing" target="_blank">Moquegua</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/15FmcdpsYvNg5k4RQQYSX3VK6huPANwZdtJLbuVgMTIs/edit?usp=sharing" target="_blank">Tacna</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1xphBJgbny_HxpP0eFbD-xIdG_7Pp3UXDJbus0_rCbeI/edit?usp=sharing" target="_blank">Juliaca</a>
          </li>

        </ul>

      </li>
      
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1lm3PdvL-YPr6b8bxqelLwvEHvP7u6DM2qM1oeR7lkbs/edit?usp=sharing" target="_blank">Consolidado de Formatería y Merchandising</a>
      </li>

      <li>
        <a href="https://docs.google.com/spreadsheets/d/1qi_HN-PnYzPqYT9mDhX_l-QgMHq37xjUYkV3x711woA/edit?usp=sharing" target="_blank">Fotochecks</a>
      </li>

      <li>
        <a href="https://docs.google.com/spreadsheets/d/1in1Z2N9tYY4zE6x1UlVYH0IACiF70OvnFWKMyNaPf3s/edit?usp=sharing" target="_blank">Seguimiento de Pedidos</a>
      </li>
    </ol>

    <h2>Otros</h2>
    <ol>
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1Ft6xcvmuS06_AHBUkIVnbz4DxAg56WoUy4gkg6x90bE/edit?usp=sharing" target="_blank">
          Consolidado de Socios
        </a>
    </ol>

    <h1> Solban </h1>
    <h2>Operaciones</h2>
    <ol>
      <li>
        <a href="#">
          Cuadre Diario Efectivo
        </a>

        <ul>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1cAGul1Q-kgCFu2eqwBoKi04pjbXwr8b-6cAAe_xe5BM/edit?usp=sharing
" target="_blank">Moquegua</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/15vSW6jvVSg8bD2m-Az9uXQ3zzQaXwAzqwJ-sv-4XVVI/edit?usp=sharing
" target="_blank">Tacna II (Conosur)</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1XA6KyKiwyEYrR3Tf7ozd6PRkR3E09gdnX17RlkIP_OM/edit?usp=sharing
" target="_blank">Ilo</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1hwWLy8li8qVHhenT76Ewr2IQmagtUARGwtuAYaoGpTg/edit?usp=sharing
" target="_blank">Cusco</a>
          </li>
        </ul>

      </li>

      <li>
        <a href="https://docs.google.com/spreadsheets/d/16sniFFAU-E9mHGm0B1km1LF10GC8QSjeGrFxLttrslU/edit?usp=sharing
" target="_blank">Consolidado de Cuadres</a>
      </li>

      <li>
        <a href="https://docs.google.com/spreadsheets/d/1eVhxc-e6L2x97gSXFxAV_2989ZFFzayiDNe5Gk3UTzw/edit?usp=sharing
" target="_blank">Transferencias</a>
      </li>

      <li>
        <a href="https://docs.google.com/spreadsheets/d/1pTUJxVEcsMrIlkoJyNTer3awUXIX6v31U2VA6MYGp9M/edit?usp=sharing
" target="_blank">Retiro CDP Fijo</a>
      </li>
    </ol>

    <h2>Logística</h2>
    <ol>
      <li>
        <a href="#">
          Formatería y Merchandising
        </a>

        <ul>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1Am7jrkR52xQXTWnIf3lYucFnWz2-bTunOCsutRSWRUE/edit?usp=sharing" target="_blank">Moquegua</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1uHs3PGNZ93uce8bkoKxw6OW0UgCUBNvtjZ5kL_Ae1l4/edit?usp=sharing" target="_blank">Tacna II (Conosur)</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1Qxh8DnbmKy_8y2A5lBbHDTUa1lGQYldxFW1Rzei-Ogk/edit?usp=sharing" target="_blank">Ilo</a>
          </li>

          <li>
            <a href="https://docs.google.com/spreadsheets/d/1iGqpEV40AuWSjbmnUcW_iZwWHcZnLPzOU9Q8SXWbaQ0/edit?usp=sharing" target="_blank">Cusco</a>
          </li>

        </ul>

      </li>
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1lm3PdvL-YPr6b8bxqelLwvEHvP7u6DM2qM1oeR7lkbs/edit?usp=sharing" target="_blank">Consolidado de Formatería y Merchandising</a>
      </li>
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1qi_HN-PnYzPqYT9mDhX_l-QgMHq37xjUYkV3x711woA/edit?usp=sharing" target="_blank">Fotochecks</a>
      </li>
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1in1Z2N9tYY4zE6x1UlVYH0IACiF70OvnFWKMyNaPf3s/edit?usp=sharing" target="_blank">Seguimiento de Pedidos</a>
      </li>
    </ol>

    <h2>Otros</h2>
    <ol>
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1Ft6xcvmuS06_AHBUkIVnbz4DxAg56WoUy4gkg6x90bE/edit?usp=sharing" target="_blank">
          Consolidado de Socios
        </a>
    </ol>
  </body>
</html>
