{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enlaces a hojas en línea</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>

    <header>
      <h1>Enlaces a las hojas en línea</h1>
    </header>

    <nav>
      <a href="#">Inicio</a>
      <a href="#">Nosotros</a>
      <a href="#">Contactos</a>
    </nav>

    <main>
      <div class="empresas">
        <div class="cajasol">
          <h2>Cajasol</h2>

          <img class="icono" src="{% static 'img/alerta_2.png' %}" alt="Alerta">
          <a href="https://docs.google.com/spreadsheets/d/1C-r-Qqz14MDlrejfWCRIArJuT3KBltfAnPlpzHvUg_E/edit?usp=sharing" target="_blank" class="alerta"> Cambio de fecha</a>

          <h3>Operaciones</h3>
          <ol>
            <li>
              <a href="#">
                Cuadre Diario Efectivo
              </a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1V86dCdtsLkmB29rM6gZgNzyZ3o1Y0jf1JIlVhoO-NpA/edit?usp=sharing" target="_blank">Arequipa</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1DoVRCS7bCRo_BSPDI9KZOJ0HbQIE7r1mvw93C6gbkIQ/edit?usp=sharing" target="_blank">Puno</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/19ENfFtBHXDkjiv4s-9O7xhlnu7Fj3vbu_GysQEoaZuk/edit?usp=sharing" target="_blank">Moquegua</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1OUOKrBxXM1Y2GJDCak9wGF0yEIk6msjqjgvTHUDjBWg/edit?usp=sharing" target="_blank">Tacna Centro</a>
                </li>

                <!-- Cuadre en desuso
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1R8q14cIOjF4_GVOFmkTFK3oZ16LK0VUuT7crZlD-It4/edit?usp=sharing" target="_blank">Tacna Conosur</a>
                </li>
                -->

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1_vw0CcQE232i1MtLfBi4N9dhvQG7NRKP9lH9mreUyTo/edit?usp=sharing" target="_blank">Juliaca</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1H_sIyVtHg0cjHeiF9EAgQ_o9oVGLdp5i0QrGAsIlMJU/edit?usp=sharing" target="_blank">Ilo</a>
                </li>
              </ul>

            </li>
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1oh7SMj1YZRSrU629kkVhNYIiSHnhmeZoH796aALK3kY/edit?usp=sharing" target="_blank">Consolidado de Cuadres</a>
            </li>

            <!-- Eliminado por reunión Miércoles 13 Abril 2022
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1BO-LPicbj_4opTBkiEV0IyLj30yT-FoZwFvh_aSs5sU/edit?usp=sharing
      " target="_blank">Transferencias</a>
            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1pTUJxVEcsMrIlkoJyNTer3awUXIX6v31U2VA6MYGp9M/edit?usp=sharing
      " target="_blank">Retiro CDP Fijo</a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1EWj5t9942EY1LhLhqgOsSY2RetcA7YxIGyJZaNIPsm8/edit?usp=sharing" target="_blank">Arequipa</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1tlnQ2RSfOulsBR6HBH5jTG9R28Wggk4F0nFeyCfGCcI/edit?usp=sharing" target="_blank">Puno</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1Ev1AElEUkQPDTwuoOTuR56lP7RhtQ_BrNrHR_kkhuzg/edit?usp=sharing" target="_blank">Moquegua</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1N9GGLCU5hRdr_weuJx-IaKIN8vvv7OGouVAiOpOzXjU/edit?usp=sharing" target="_blank">Tacna</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1bhSZ_oDD-hwESgEaCT90vfJeesGTzYovRqIj3N2abkQ/edit?usp=sharing" target="_blank">Tacna II (Conosur)</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1cEG5SVV3DMAQHMNYXiFCOddxSyjQiflDgZSHvBUqols/edit?usp=sharing" target="_blank">Juliaca</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1lzyCfOo4_11DknjeysXrR7-_iP1wNXPpRj_-2DHvYRU/edit?usp=sharing" target="_blank">Ilo</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1wDBM2JRVWArXuTRTqXHH0a0W4dy-Lpvu62VxRbgDjtw/edit?usp=sharing" target="_blank">Cusco</a>
                </li>
              </ul>
            </li>
            --> <!-- Eliminado por reunión Miércoles 13 Abril 2022 -->
            <!-- Retiro CDP Fijo Cajasol -->

            <!-- Eliminado por reunión Miércoles 13 Abril 2022
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1qwNWbnjqoFJTqPlVG2M2LJeLWCX2b-c0LuNgZgJ01aY/edit?usp=sharing">Retiro CDP Fijo con estrategias</a>
            </li>
            --> <!-- Eliminado por reunión Miércoles 13 Abril 2022 -->

          </ol>

          <h3>Logística</h3>
          <ol>
            <li>
              <a href="#">
                Formatería y Merchandising
              </a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1OZkln5k4aO4llBMFUrQY0XrTucS4EHk15Q8Nw6Npr7s/edit?usp=sharing" target="_blank">Arequipa</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/19Fr_7tcNp7SebOZ9JsUhSQvAheMDtb4TfD6wgVwuDzw/edit?usp=share_link" target="_blank">Puno</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1hxCuMRH838LjpCVoPz73sb-136ryW32csS7hT7PBbDw/edit?usp=share_link" target="_blank">Tacna Centro</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1w_wby4njxRQAImQ2zC4rqzxeJyufFuHP_ZOWZEAU2do/edit?usp=share_link" target="_blank">Juliaca</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/198M_y16a3tYHBLbxGXsCvcvlJPnw2ET6thtrfH03YC4/edit?usp=share_link" target="_blank">Administrativa</a>
                </li>

              </ul>

            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1LavMRHhcFbc-BvUbYA6KuSUQ-1TiXzwlPfZgYfJip8k/edit?usp=share_link" target="_blank">Uniformes de Trabajo</a>
            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1MlV7IPmiFK4nQPbW0GdCHzi2xyaNVmv4NFxs7zxaOxM/edit?usp=share_link" target="_blank">Útiles de Escritorio</a>
            </li>

            <li>
              <a href="https://drive.google.com/drive/folders/1yt55d_U8-YrGenFs5CNJalHcNe5iV3v5?usp=share_link" target="_blank">Carpeta de Histórico Logística Cajasol</a>
            </li>

            <!--
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1qi_HN-PnYzPqYT9mDhX_l-QgMHq37xjUYkV3x711woA/edit?usp=sharing" target="_blank">Fotochecks</a>
            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1in1Z2N9tYY4zE6x1UlVYH0IACiF70OvnFWKMyNaPf3s/edit?usp=sharing" target="_blank">Seguimiento de Pedidos</a>
            </li>
            --> <!-- Eliminado por requerimiento del área de Logística -->
          </ol>

          <h3>Call Center</h3>
          <ol>
            <li>
              <a href="#">
                Gestión Diaria
              </a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1bzWFA_AOq_8DsPeWDB2mh96mqlFjbo2yr9VCq2_VUC0/edit?usp=sharing" target="_blank">Arequipa</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1GDi9jDVGjnjFUwCER2nCyy5iSXeQdkWaWh-qAYlhgD0/edit?usp=sharing" target="_blank">Puno</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1Txq2oBG_QgY_q799Ttl-mldastmINFeLg8ZCBHCZF2o/edit?usp=sharing" target="_blank">Tacna Centro</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1IomYgpJQ2DaWP6Pmms-1IoUV4tYppmOJN1bM_x2xHiU/edit?usp=sharing" target="_blank">Juliaca</a>
                </li>

              </ul>

            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1ZaTwQOQzXCsYA3SlLwFrnA16keCW2H7OhvgzMWfq65Y/edit?usp=sharing" target="_blank">Consolidado de Gestión Diaria</a>
            </li>
          </ol>

          <h3>Otros</h3>
          <ol>
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1Ft6xcvmuS06_AHBUkIVnbz4DxAg56WoUy4gkg6x90bE/edit?usp=sharing" target="_blank">
                Consolidado de Socios
              </a>
          </ol>
        </div> <!-- cajasol -->

        <div class="solban">
          <h2> Solban </h2>
          <h3>Operaciones</h3>
          <ol>
            <li>
              <a href="#">
                Cuadre Diario Efectivo
              </a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1PPIn_QJ2L0B4Jqm5jpzNEIrDA1kmfUujUCwQPy-urSo/edit?usp=sharing" target="_blank">Arequipa</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1jLE6qBd5f5rZtn6Whbrp1g27nVUCasXZEf7qzokwJIk/edit?usp=sharing" target="_blank">Puno</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1cAGul1Q-kgCFu2eqwBoKi04pjbXwr8b-6cAAe_xe5BM/edit?usp=sharing" target="_blank">Moquegua</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1WvCfCZnHZJpW1i2CFOA9IJ-WRZgddTvI_HrndbBtyUg/edit?usp=sharing" target="_blank">Tacna Centro</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/15vSW6jvVSg8bD2m-Az9uXQ3zzQaXwAzqwJ-sv-4XVVI/edit?usp=sharing" target="_blank">Tacna Conosur</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1XA6KyKiwyEYrR3Tf7ozd6PRkR3E09gdnX17RlkIP_OM/edit?usp=sharing" target="_blank">Ilo</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1hwWLy8li8qVHhenT76Ewr2IQmagtUARGwtuAYaoGpTg/edit?usp=sharing" target="_blank">Cusco</a>
                </li>
              </ul>

            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/16sniFFAU-E9mHGm0B1km1LF10GC8QSjeGrFxLttrslU/edit?usp=sharing" target="_blank">Consolidado de Cuadres</a>
            </li>

            <!-- Eliminado por reunión Miércoles 13 Abril 2022
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1eVhxc-e6L2x97gSXFxAV_2989ZFFzayiDNe5Gk3UTzw/edit?usp=sharing
      " target="_blank">Transferencias</a>
            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1pTUJxVEcsMrIlkoJyNTer3awUXIX6v31U2VA6MYGp9M/edit?usp=sharing
      " target="_blank">Retiro CDP Fijo</a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1EWj5t9942EY1LhLhqgOsSY2RetcA7YxIGyJZaNIPsm8/edit?usp=sharing" target="_blank">Arequipa</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1tlnQ2RSfOulsBR6HBH5jTG9R28Wggk4F0nFeyCfGCcI/edit?usp=sharing" target="_blank">Puno</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1Ev1AElEUkQPDTwuoOTuR56lP7RhtQ_BrNrHR_kkhuzg/edit?usp=sharing" target="_blank">Moquegua</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1N9GGLCU5hRdr_weuJx-IaKIN8vvv7OGouVAiOpOzXjU/edit?usp=sharing" target="_blank">Tacna</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1bhSZ_oDD-hwESgEaCT90vfJeesGTzYovRqIj3N2abkQ/edit?usp=sharing" target="_blank">Tacna II (Conosur)</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1cEG5SVV3DMAQHMNYXiFCOddxSyjQiflDgZSHvBUqols/edit?usp=sharing" target="_blank">Juliaca</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1lzyCfOo4_11DknjeysXrR7-_iP1wNXPpRj_-2DHvYRU/edit?usp=sharing" target="_blank">Ilo</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1wDBM2JRVWArXuTRTqXHH0a0W4dy-Lpvu62VxRbgDjtw/edit?usp=sharing" target="_blank">Cusco</a>
                </li>
              </ul>
            </li>
            --> <!-- Eliminado por reunión Miércoles 13 Abril 2022 -->
            <!-- Retiro CDP Fijo Solban -->

            <!-- Eliminado por reunión Miércoles 13 Abril 2022
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1qwNWbnjqoFJTqPlVG2M2LJeLWCX2b-c0LuNgZgJ01aY/edit?usp=sharing">Retiro CDP Fijo con estrategias</a>
            </li>
          --> <!-- Eliminado por reunión Miércoles 13 Abril 2022 -->
          </ol>

          <h3>Logística</h3>
          <ol>
            <li>
              <a href="#">
                Formatería y Merchandising
              </a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/13Bc8oxcrAQWTbIYVfWFWpRL_7TxAUyPJ8kFtgsJV3Lk/edit?usp=share_link" target="_blank">Moquegua</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1KMa0Egz8B_AT82kEyaE3hte7dTyrWMtgPwSjkw9WFWE/edit?usp=share_link" target="_blank">Tacna Centro</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1NZ__d8-vSdT-7gDKGzbNlsBDDG1Yzk9_VBjx-yvIbys/edit?usp=share_link" target="_blank">Tacna Conosur</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1yQVSZ0OnIgVvPIa3Fth83nHZy97K5ScOIcOUZ3DqorI/edit?usp=share_link" target="_blank">Ilo</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1OqHnGwrE9CFomcXFtFKJUZAcrAwDIlyEWnQfQACpUYE/edit?usp=share_link" target="_blank">Cusco</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/18X89KPqnNLp0jUVJo4a2npdcpFigAbxtOsFh0l5gMu0/edit?usp=share_link" target="_blank">Administrativa</a>
                </li>

              </ul>

            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1dE1rLCFM3Ije7E-m0NBhbi0dceXtxYTwagebqwT3vXk/edit?usp=share_link" target="_blank">Uniformes de Trabajo</a>
            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/18NQ1pQRBw5P1SHwqRrj4zshW0SH0mCoAl7N_q04X2SQ/edit?usp=share_link" target="_blank">Uniformes de Trabajo (Agnes)</a>
            </li>

            <li>
              <a href="https://drive.google.com/drive/folders/1tQz001Ty67W_GTZgdWIF3k8H_fI31_hS?usp=share_link" target="_blank">Carpeta de Histórico Logística Solban</a>
            </li>
            <!--
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1qi_HN-PnYzPqYT9mDhX_l-QgMHq37xjUYkV3x711woA/edit?usp=sharing" target="_blank">Fotochecks</a>
            </li>
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1in1Z2N9tYY4zE6x1UlVYH0IACiF70OvnFWKMyNaPf3s/edit?usp=sharing" target="_blank">Seguimiento de Pedidos</a>
            </li>
            --> <!-- Eliminado por requerimiento del área de Logística -->
          </ol>

          <h3>Call Center</h3>
          <ol>
            <li>
              <a href="#">
                Gestión Diaria
              </a>

              <ul>
                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1xkRJ9aRq4GgxDYuvYc8l-dlVxdyGfp5IYDkVRW47cG8/edit?usp=sharing" target="_blank">Moquegua</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/16QOp8n4m1QaYdVSvwcoQnaoDoJWfr68wYJrGCv8SQYE/edit?usp=sharing" target="_blank">Tacna Centro</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/15rmscLFBhwx1DBUMG44PMWXgAg880tR_RtYjZFj5lbU/edit?usp=sharing" target="_blank">Tacna Conosur</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/12-bXsC3Z9T1eeRxRKygPUmzNX3-mjQZsiZS5-JJYYn4/edit?usp=sharing" target="_blank">Ilo</a>
                </li>

                <li>
                  <a href="https://docs.google.com/spreadsheets/d/1oMzy9c-v_Df2_E0XD4FRvGtE0OZowkyqHlVxI4Zz_nE/edit?usp=sharing" target="_blank">Cusco</a>
                </li>

              </ul>

            </li>

            <li>
              <a href="https://docs.google.com/spreadsheets/d/1homo_MY5qSHzPw6X5QhzmzNBvRf41HLp2RLZGKJTe1I/edit?usp=sharing" target="_blank">Consolidado de Gestión Diaria</a>
            </li>
          </ol>

          <h3>Otros</h3>
          <ol>
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1Ft6xcvmuS06_AHBUkIVnbz4DxAg56WoUy4gkg6x90bE/edit?usp=sharing" target="_blank">
                Consolidado de Socios
              </a>
          </ol>
        </div> <!-- solban -->

      </div> <!-- empresas -->

    </main>
  </body>
</html>
